{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="{% static 'main/favicon.ico' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'main/bootstrap/css/bootstrap.css'%}">
    <title>Veteran | MBA | Python Nerd</title>
</head>
<body>
    {% include 'partials/_navbar.html' %}
    {% block content %}
    {% endblock content %}
</body>
</html>