{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Veteran | MBA | Python Nerd</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'main/favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sassy+Frass">
</head>

<body>
    {% block content %}
    <div class="main-grid">
        <div class="left-grid">
            <img class="headshot" src="{% static 'main/img/headshot.jpg' %}" alt="">
            <div class="signature">Vince Berry</div>
            <div class="card">
                <div class="descriptor">
                    <img src="{% static 'main/img/home.png' %}" alt="">
                    <p>317 W. Evergreen Avenue<br>Chicago, IL 60610</p>
                </div>
                <div class="descriptor">
                    <img src="{% static 'main/img/phone.png' %}" alt="">
                    <p>610-368-7379</p>
                </div>
                <div class="descriptor">
                    <img src="{% static 'main/img/email.png' %}" alt="">
                    <p>vincent.berry11@gmail.com</p>
                </div>
                <div class="descriptor">
                    <img src="{% static 'main/img/graduation.png' %}" alt="">
                    <p>Master of Business Administration<br>Indiana University<br>2015 - 2018</p>
                </div>
                <div class="descriptor">
                    <img src="{% static 'main/img/github.png' %}" alt="">
                    <p>https://github.com/vaberry</p>
                </div>
                <div class="descriptor">
                    <img src="{% static 'main/img/linkedin.png' %}" alt="">
                    <p>www.linkedin.com/in/vaberry</p>
                </div>
            </div>
        </div>

        <div class="middle-grid">
            <div>
                <img src="{% static 'main/img/python.png' %}" alt="">
                <img src="{% static 'main/img/javascript.png' %}" alt="">
                <img src="{% static 'main/img/sql.png' %}" alt="">
            </div>
            <div>
                <img src="{% static 'main/img/django.png' %}" alt="">
                <img src="{% static 'main/img/react.png' %}" alt="">
            </div>
            <div>
                <img src="{% static 'main/img/html.png' %}" alt="">
                <img src="{% static 'main/img/css.png' %}" alt="">
            </div>
            <div>
                <img src="{% static 'main/img/aws.png' %}" alt="">
                <img src="{% static 'main/img/gcp.png' %}" alt="">
                <img src="{% static 'main/img/azure.png' %}" alt="">
            </div>
            <div>
                <img src="{% static 'main/img/ssh.png' %}" alt="">
                <img src="{% static 'main/img/linux.png' %}" alt="">
                <img src="{% static 'main/img/github2.png' %}" alt="">
            </div>
        </div>
        
        <div class="right-grid">
            <h1 style="text-align: center;">My Projects</h1>
        </div>

    </div>

    {% endblock content %}
</body>
</html>