{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vet | MBA | Python Nerd</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'main/favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">

<body>
{% block content %}

<div class="grid-one">
    <div>
        <img src="{% static 'main/img/headshot.jpg' %}" style="height: 150px; width: 150px; border-radius: 50%;" alt="">
    </div>
    <div>
        <img src="{% static 'main/img/logo8.png' %}" alt="">
    </div>
    <!-- <div>
        <img src="{% static 'main/img/logo8.png' %}" alt="">
    </div> -->
</div>

<div class="grid-two">
    <h1>2</h1>
</div>




{% endblock content %}
</body>
</html>