{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main/css/test.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sassy+Frass">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand">

    <title>Document</title>
</head>
<body>
    <div class="flex-container">
        <div class="about-me">
            <img class="headshot" src="{% static 'main/img/headshot.jpg' %}" alt="">
            <div class="signature">Vince Berry</div>
            <div class="card">
                <div class="descriptor">
                    <img src="{% static 'main/img/home.png' %}" alt="">
                    <p>317 W. Evergreen Avenue<br>Chicago, IL 60610</p>
                </div>
                <div class="descriptor">
                    <img src="{% static 'main/img/phone.png' %}" alt="">
                    <p>610-368-7379</p>
                </div>
                <div class="descriptor">
                    <img src="{% static 'main/img/email.png' %}" alt="">
                    <p>vincent.berry11@gmail.com</p>
                </div>
                <div class="descriptor">
                    <img src="{% static 'main/img/graduation.png' %}" alt="">
                    <p>Master of Business Administration<br>Indiana University<br>2015 - 2018</p>
                </div>
                <div class="descriptor">
                    <img src="{% static 'main/img/github.png' %}" alt="">
                    <p><a href="https://github.com/vaberry">github.com/vaberry</a></p>
                </div>
                <div class="descriptor">
                    <img src="{% static 'main/img/linkedin.png' %}" alt="">
                    <p><a href="www.linkedin.com/in/vaberry">linkedin.com/in/vaberry</a></p>
                </div>
            </div>
        </div>
        <div class="technologies">
            <h3>Technologies</h3>
            <div>
                <img src="{% static 'main/img/python.png' %}" alt="">
                <img src="{% static 'main/img/javascript.png' %}" alt="">
                <img src="{% static 'main/img/sql.png' %}" alt="">
            </div>
            <div>
                <img src="{% static 'main/img/django.png' %}" alt="">
                <img src="{% static 'main/img/react.png' %}" alt="">
            </div>
            <div>
                <img src="{% static 'main/img/html.png' %}" alt="">
                <img src="{% static 'main/img/css.png' %}" alt="">
            </div>
            <div>
                <img src="{% static 'main/img/aws.png' %}" alt="">
                <img src="{% static 'main/img/gcp.png' %}" alt="">
                <img src="{% static 'main/img/azure.png' %}" alt="">
            </div>
            <div>
                <img src="{% static 'main/img/ssh.png' %}" alt="">
                <img src="{% static 'main/img/linux.png' %}" alt="">
                <img src="{% static 'main/img/github2.png' %}" alt="">
            </div>
        </div>
        <div class="projects">
            <h3>Projects</h3>
        </div>
    </div>
</body>
</html>