body {
	font-family: "Poppins", sans-serif;
	background-color:  #046A38;
}

a {
	text-decoration: none;
	color: white;
}

.main-grid {
	display: grid;
	grid-template-columns: .5fr .5fr 1.25fr;
	column-gap: 2rem;
}

.left-grid {
	/* background-color: gray; */
	display: grid;
	grid-template-rows: .25fr .25fr .5fr;
	height: 100vh;
	color: white;
}

.headshot {
	border-radius: 50%;
	height: 30vh;
	width: auto;
	filter: grayscale(100%);
	justify-self: center;
	margin-top: 20px;
}

.signature {
	width: 100%;
	font-family: "Sassy Frass", sans-serif;
	font-size: 70px;
	text-align: center;
}

.descriptor {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.descriptor > p {
	margin-left: 20px;
	color: white;
}

.descriptor > img {
	width: 30px;
	height: 30px;
}




.card {
	/* box-shadow: 8px 8px 8px 8px rgba(0,0,0,0.2); */
	/* background-color:#046A38; */
	/* transition: 0.3s; */
	/* border-radius: 5px; */
	/* margin-left: 30px; */
	color: black;
	font-family: "Quicksand";
  }


.middle-grid {
	height: 100vh;
	margin-left: 50px;
	font-family: "Quicksand";
	text-align: center;
	/* background-color: gray; */
	/* -webkit-overflow-scrolling: scroll; */
	/* overflow: scroll; */
	/* background-color: red; */
}

.descriptor > img  {
	margin-left: 20px;
	/* margin-top: 20px; */
	height: 30px;
	width: 30px;
}

.links {
	background-color: #8A8D8F;
	color: black;
}

.right-grid {
	/* color: white; */
	height: 100vh;
	font-family: "Quicksand";
	/* background-color: gray; */
	/* overflow-y: scroll */
	/* margin-left: 20px; */
	text-align: center;
}


